PREDICTING FUTURE MACROECONOMIC DATA W/ TIME SERIES XGBOOST

In [5]:
#libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import xgboost as xgb
from sklearn.metrics import mean_squared_error

In [11]:
#getting needed data

#this is original and not log transferred 
df = pd.read_csv('../../datasets/originals/all_Macroeconomic_Data.csv')

df.head()

,date,RPI,W875RX1,DPCERA3M086SBEA,CMRMTSPLx,RETAILx,INDPRO,IPFPNSS,IPFINAL,IPCONGD,...,DNDGRG3M086SBEA,DSERRG3M086SBEA,CES0600000008,CES2000000008,CES3000000008,UMCSENTx,DTCOLNVHFNM,DTCTHFNM,INVEST,VIXCLSx
0,1/1/1986,6748.379,5932.0,47.357,665846.179,122987.5021,55.6511,63.3746,61.7948,72.9945,...,54.821,45.557,10.13,11.77,9.53,95.6,71574.0,121947.59,453.7176,18.1213
1,2/1/1986,6781.198,5962.7,47.240,662058.599,121841.4787,55.2700,62.7722,61.1830,72.3652,...,54.327,45.768,10.14,11.80,9.56,95.9,72508.0,123145.20,453.5902,20.6242
2,3/1/1986,6845.164,6018.8,47.401,662704.671,120996.2216,54.8828,62.5615,60.9771,72.1034,...,53.380,45.968,10.15,11.73,9.58,95.1,73685.0,124352.56,450.1009,23.5640
3,4/1/1986,6868.394,6038.8,47.693,676048.783,121767.8428,54.9456,62.7816,61.0642,72.5823,...,52.747,46.051,10.16,11.81,9.56,96.2,75484.0,126113.75,455.0797,23.0154
4,5/1/1986,6876.660,6043.6,47.980,669565.217,123536.1414,55.0535,62.9988,61.2052,72.9877,...,52.861,46.110,10.18,11.86,9.59,94.8,78416.0,129109.91,458.4309,18.8928

In [21]:
#need to look at one column and generate future data and store it in a new dataset 

set_w_no_date = df.drop('date', axis = 1)
set_w_no_date.head()

#each data column needs to be associated with a date 
#so just select the date column and the wanted data column

,RPI,W875RX1,DPCERA3M086SBEA,CMRMTSPLx,RETAILx,INDPRO,IPFPNSS,IPFINAL,IPCONGD,IPDCONGD,...,DNDGRG3M086SBEA,DSERRG3M086SBEA,CES0600000008,CES2000000008,CES3000000008,UMCSENTx,DTCOLNVHFNM,DTCTHFNM,INVEST,VIXCLSx
0,6748.379,5932.0,47.357,665846.179,122987.5021,55.6511,63.3746,61.7948,72.9945,52.3004,...,54.821,45.557,10.13,11.77,9.53,95.6,71574.0,121947.59,453.7176,18.1213
1,6781.198,5962.7,47.240,662058.599,121841.4787,55.2700,62.7722,61.1830,72.3652,51.9459,...,54.327,45.768,10.14,11.80,9.56,95.9,72508.0,123145.20,453.5902,20.6242
2,6845.164,6018.8,47.401,662704.671,120996.2216,54.8828,62.5615,60.9771,72.1034,51.9121,...,53.380,45.968,10.15,11.73,9.58,95.1,73685.0,124352.56,450.1009,23.5640
3,6868.394,6038.8,47.693,676048.783,121767.8428,54.9456,62.7816,61.0642,72.5823,51.8572,...,52.747,46.051,10.16,11.81,9.56,96.2,75484.0,126113.75,455.0797,23.0154
4,6876.660,6043.6,47.980,669565.217,123536.1414,55.0535,62.9988,61.2052,72.9877,51.9516,...,52.861,46.110,10.18,11.86,9.59,94.8,78416.0,129109.91,458.4309,18.8928